@font-face {
  font-family: chaney ;
  src: url(fonts/chaney-ultraextended-webfont.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

#main{
  width: 100%;
  min-height: 100vh;
  /* background-color: burlywood; */
}

/* loader */

.loader{
  width: 100%;
  height: 100vh;
  position: absolute ;
  background-color:  rgb( 250,  195,  8);
  animation: pulse 3s;
}

.zoom{
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)rotate(-7deg);
  font-size: 10vw;
  font-weight: 200;
  font-family: chaney;
  -webkit-text-stroke-width: 0.09vh;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: #fff;
  outline: none;
}

.scramble{
  position: absolute ;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%)rotate(-7deg);
  font-size: 5vw;
  font-family: chaney;
  color: #fff;
}

.loading{
  position: relative;
  left: 50%;
  width: 50%;
  bottom: -65%;
  height: 10px;
  transform: translate(-50%,-50%)rotate(-7deg);
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
}

.loading::after{
  content: "";
  position: absolute ;
  bottom: 10%;
  height: 100%;
  border-radius: 4px;
  animation: load 3s;
}

/* loading bar */

@keyframes load{
  0%{
    width: 0;
    background-color: #a28089;
  }

  25%{
    width: 25%;
    background-color: #a02deb;
  }

  50%{
    width: 50%;
    background-color: #d0bdf4;
  }

  75%{
    width: 75%;
    background-color:  #d2d2d2;
  }

  100%{
    width: 100%;
    background-color: rgb( 250,  195,  8) ;
  }
}

/* loading bg change */

@keyframes  pulse{
  0%{
    /* width: 0; */
    background-color: #a28089;
  }

  25%{
    /* width: 25%; */
    background-color: #c276f5;
  }

  50%{
    /* width: 50%; */
    background-color: #d0bdf4;
  }

  75%{
    /* width: 75%; */
    background-color:  #d2d2d2;
  }

  100%{
    /* width: 100%; */
    background-color: rgb( 250,  195,  8) ;
  }
}

/* After loading section */

.svg{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/back1.jpg);
  background-size: cover;
  background-position: bottom;
   opacity: 1; /* by default it's opacity is 0 after click then the value will be 1(visible) */
  overflow: hidden;
  transition: all cubic-bezier(0.19,1,0.22,1) 1.5s;
  z-index: 99;
}

.dotted{
  width: 130%;
  height: 130vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(images/back.png);
  background-size:  cover;
  background-position: center;
  animation: dotte 8s ease-in-out alternate infinite;
  overflow: hidden;
}

.dotted > .donut{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 12vw;
  animation: updown 2s ease-in-out alternate infinite;
  opacity: 0;
}

#kothik-k{
  position: absolute;
  width: 9vw;
  top: 25%;
  left: 39%;
  animation: letter 1.9s ease-in-out alternate infinite;
}

#kothik-k2{
  position: absolute;
  width: 5vw;
  top: 43%;
  left: 42%;
  animation: letter 1.9s ease-in-out alternate infinite;
}

#kothik-k2{
  position: absolute;
  width: 7vw;
  top: 25%;
  left: 54%;
  z-index: 2;
  animation: letter 1.8s ease-in-out alternate infinite;
}

#kothik-k2{
  position: absolute;
  width: 7vw;
  top: 25%;
  left: 54%;
  z-index: 2;
  animation: letter 1.8s ease-in-out alternate infinite;
}

@keyframes updown{
  from{
    margin-top: -1vw;
  }
  
  to{
    margin-top: 1vw;
  }
}

@keyframes letter {
  from{
    margin-top: 0vw;
  }
  to{
    margin-top: 1vw;
  }
}

@keyframes dotte{
  from{
    margin-top: -15%;
    margin-left: -15%;
  }
}

